*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'normal';
    src: url('font/normal.woff2') format('woff2');
}
@font-face {
    font-family: 'semi_bold';
    src: url('font/semi_bold.woff2') format('woff2')
}
@font-face {
    font-family: 'mdl2';
    src: url('font/mwfmdl2-v3.54.woff') format('woff');
}
@font-face {
    font-family: "MWF-MDL2";
    src: url('font/MWFFluentIcons.woff2') format('woff2');
}
span {
    font-family: 'normal';
}
.topblock{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 7px;
    border-bottom: 1px solid #d7cfcf;
    height: 54px;
    
}   
.topblock_logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3px;
    right: 1px;
}
.topblock_elm{
    display:flex;
    width: 60px;
    justify-content: space-between;
    /* padding: 9px;
    padding-top: 11px; */
    align-items: flex-end;
    margin-left: 15px;
    margin-top:5px ;
    /* height: 47px; */

}
.topblock_elm1 img{
    padding-left: 6px;
    padding-top: 6px;

}
.topblock_elm1-box1{
    /* transform: rotate(90deg); */
    padding-bottom: 1px;
   
}
.topblock_elm1::before{
    font-family:'mdl2';
    content: "";
    font-size:larger;
    font-size: 20px;
  

}
.topblock_elm2::before {
    font-family: 'mdl2';
    content: '';
    font-size: 16px;
    margin-bottom: 2px;
    /* margin: left 2px; */
}
.topblock_elm img{
    width: 20px;
}
.topblock_logo img{
    width: 108px;
    max-width: none;
    padding-top: 9px;
    
}
.azureHeding{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    padding-left: 16px;
    padding-bottom: 9px;
    font-size: 15px;
    height: 33px;
    
}
.azureHeading_arow button{
    background: white;
    border: none;
}
.azureHeading_arow img{
    width: 14px;
    padding-top: 3px;
}
.coverimg img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    /* aspect-ratio: 7/4; */
    padding-top: 1px;
}
.coverimg{
    max-width: 100%;
    max-height: 100%;
   
}
.azureHeading_word span{
    font-weight: 600;
    padding-right: 3px;
    font-family:'semi_bold';
    
}
.introBlock{
    padding-top: 32px;
    padding-bottom: 68px;
    padding-right: 1rem;
    padding-left: 1rem;

    /* background: linear-gradient(to bottom, #f5f1f1, #99a9de); */
 
    background-image: linear-gradient(90deg, rgb(237, 232, 246) 0%, rgb(244, 250, 253) 49.99%, rgb(220, 238, 248) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.introBlock_elm{
    font-size: 12px;
    letter-spacing: 1.15px;
    font-weight: 600;
}
.introBlock_elm1{
    font-size: 33px;
    /* font-weight: 500; */
    padding-top: 11px;
    padding-bottom: 0px;
    line-height: 40px;
    letter-spacing: -2px;
}
.introBlock_elm1 span{
    font-family: 'semi_bold';
}
.introBlock_elm2{
    line-height: 24px;
    padding-right: 16px;
    margin-top: 17px;
    font-size: 18px;
    letter-spacing: -0.54px;
    line-height: 28px;
}
.introBlock_elmb{
    padding-top: 24px;
    padding-bottom: 28px;
}
.introBlock_elmb button{
    width: 100%;
    height: 52px;
    border-radius: 10px;
    border: none;
    background: #0078d4;
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.3px;
}
.introBlock_elm-foot{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 66, 117);
    font-weight: 600;
    padding: 18px;
    padding-left: 15px;
    border-bottom: 4px solid rgb(0, 66, 117);
    font-family: 'semi_bold';
    letter-spacing: -0.48px;
}
.introBlock_elm-foot-arow img{
     width: 15px;
}
.FeaturedBlock{
    background-image: url('img/bacground/Mobile-feature-BG-2x-1');
    padding-top: 56px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.FeaturedBlock_elm{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 32px;
    padding-bottom: 56px;
}
.FeaturedBlock_elm1{
    
    background:white ;
    border-radius: 16px;

}
.FeaturedBlock_header{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.FeaturedBlock_head1{
   padding-left: 20px;
}
.FeaturedBlock_Head{
padding: 0px 17px;
}
.FeaturedBlock_Head span{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 32px;
    font-family: 'semi_bold';

}
.FeaturedBlock_head1 span{
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'semi_bold';
    margin-left: -3px;
}
.FeaturedBlock_elm1-image{
    padding: 8px 8px 0px;
}
.FeaturedBlock_elm1-image img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;

}
.FeaturedBlock_elm1-main{
    padding: 16px;
    padding-top: 20px;
}
.FeaturedBlock_elm1-elm{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.FeaturedBlock_elm1-span{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.54px;
    line-height: 24px;
    font-weight: 600;
   
}
.FeaturedBlock_elm1{
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.FeaturedBlock_elm1-span span{
    font-size: 18px;
    font-family: 'semi_bold';
 
}
.FeaturedBlock_elm1-sentance{
    line-height: 24px;
    letter-spacing: -0.48px;
}
.FeaturedBlock_elm1-forword{
    padding-top: 32px;
    display: flex;
    align-items: center;
}
.FeaturedBlock_elm1-forword img{
    padding: 9px;
    background: #0078d4;
    border-radius: 7px;
    width: 35px;
}
.FeaturedBlock_elm1-forword span{
    padding-left: 8px;
    font-size: 14px;
    letter-spacing: -0.48px;
    color: rgb(0, 66, 117);
    font-weight: 600;
    font-family: 'semi_bold';
}
.FeaturedBlock_elm1-forword-i{
    padding-bottom: 5px;
}
/* //////////////////////////////////// */
.solutionsBlock{
    background-image: url('img/bacground/Mobile-product-BG-2x');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 20px;
    padding-bottom: 56px;
    padding-top: 56px;
} 
.solutionsBlock-i{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.solutionsBlock-head{
    font-size: 12px;
    letter-spacing: 0.96px;
    font-weight: 600;
    color: rgb(23, 37, 61);
    font-family: 'semi_bold';
}
.solutionsBlock-head1{
    font-size: 24px;
    color: rgb(14, 23, 38);
    letter-spacing: -1px;
    line-height: 32px;
    font-weight: 600;
    font-family: 'semi_bold';
}
.solutionsBlock_elm{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 36px;
}
.solutionsBlock_elm::-webkit-scrollbar{
    display: none;
}
.solutionsBlock_elm1 button{
    background: rgb(0, 85, 151);
    color: white;
    border: none;
    font-size: 16px;
    height: 40px;
    border-radius: 200px;
    max-width: 100%;
    margin: 0px;
    font-weight: 600;
    margin-left: 8px;
    

    
}
.solutionsBlock_elm1 button span{
    padding: 10px;
}
.solutionsBlock_elm2 button{
    background: rgba(0, 85, 151, 0.1);
    color: rgb(0, 66, 117)    ;
    border: none;
    font-size: 16px;
    height: 40px;
    border-radius: 20px;
    max-width: 100%;
    margin: 0px;
    font-weight: 600;
    margin-left: 7px;
    

    
}
.solutionsBlock_elm2 button span{
    padding: 10px;
}
.solutionsBlock_elm-i{
    margin-top: 24px;
}
.solutionsBlock-head{
    font-size: 12px;
    padding-top: 20px;
}
.solutionsBlock_elm-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.solutionsBlock_elm-ancor a{
    color: rgb(0, 66, 117);
    font-family: 'semi_bold';
    font-size: 14px;
}
.solutionsBlock_elm-head span{
    font-size: 18px;
    font-family: 'semi_bold';
    color: rgb(14, 23, 38);
    font-weight: 600;
    letter-spacing: -0.54px;
    line-height: 24px;

}
.solutionsBlock_elm-head img{
    width: 16px;
    height: 16px;
}
.playButton{
    
    
    
}
.playButton::before {
    font-family:'mdl2';
    position: absolute;
    font-weight: 600;
    line-height: 1;
    content: "";
    font-size: 14px;
    text-align: center;
    left: 43%;
    top: 41%;
    color: white;
    background: rgb(0, 120, 212);
    font-size: 16px;
    padding: 14px;
    border-radius: 8px;
   
}
.solutionsBlock_elm-image{
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.solutionsBlock_elm-image img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}
.solutionsBlock_elm-button1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    /* border-bottom: 1px solid grey; */
    border-top: 1px solid rgb(172, 168, 168);
    font-size: 18;
    font-weight: 600;
    letter-spacing: -0.3px;
    font-family: 'semi_bold';
    color: rgb(14, 23, 38);

}
.solutionsBlock_elm-button1 img{
    width: 16px;
}
.solutionsBlock_elm-sentBlock{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 24px;
}
.solutionsBlock_elm-ancor{
    padding-bottom: 24px;
}
.solutionsBlock_elm-button .FeaturedBlock_elm1-forword{
    padding-top: 24px;
}
.solutionsBlock_elm-button :nth-child(4) {
    border-bottom: 1px solid rgb(172, 168, 168);
}
/* //////////// */
.productBlock{
    background-image: url('img/bacground/Mobile-product-BG-2x.avif');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 56px;
    padding-bottom: 56px;
}
.productBlock-head{
    font-size: 12px;
    padding-bottom: 12px;
    color:rgb(23, 37, 61) ;
    letter-spacing: 0.96px;
    font-family: 'semi_bold';
    font-weight: 600;

}
.productBlock-Head1{
    font-size: 24px;
    font-family: 'semi_bold';
    letter-spacing: -0.86px;
    font-weight: 600;
}
.productBlock_elm-i{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.productBlock_elm{
    background-image: url('img/351994-Desktop-CardGrid-ProductandServices-PromoCard-320x592.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    margin-top: 32px;

    /* height: 100%; */


}
.productBlock .solutionsBlock_elm{
    margin-top: 32px;
}
.productBlock_elm1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 412px;
    max-width: 100%;
    padding: 20px;
    color: white;
    gap: 12px;
}
.productBlock_elm-head{
    font-size: 24px;
    font-family: 'semi_bold';
    font-weight: 600;
    letter-spacing: -0.8px;
   
}
.productBlock_elm-head span{
    
}
.productBlock_elm-button{
    font-size: 15px;
    width: 100%;
   
}
.productBlock_elm-button button{
    background: #91bbdb;
    color:black;
    border: none;
    height: 52px;
    width: 100%;
    border-radius: 8px;
    font-size: 15px;
}
.productBlock_elm-sent{
    font-size: 16px;
    letter-spacing: -0.48px;
}
.productBlock_elm2{
    padding-top: 0px;
}
.productBlock_elm-box{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    row-gap: 13px;
    padding: 16px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.productBlock_elm-box-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: white;
    box-shadow:0px 0px 1px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.productBlock_elm-box-head{
    font-family: 'semi_bold';
    font-weight: 600;
    letter-spacing: -0.27px;
}
.productBlock_elm-box-image img{
    
    border-radius: 5px;
    /* padding: 10px; */
    width: 24px;
    height: 24px;
}
.productBlock_elm-box-sent{
    letter-spacing: -0.48px;
    line-height: 24px;
}
.productBlock_elm-box-anchor{
    padding-top: 3px;
}
.productBlock_elm-box-anchor a{
    color:rgb(0, 66, 117) ;
    font-family: 'semi_bold';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.48px;
}
.gatnerBlock{
    background-image: url('img/bacground/gater.avif');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    padding-top: 73px;
    padding-bottom: 48px;
    
}
.gatnerBlock_elm{
    background: white;
    /* padding: 10px; */
    border-radius: 10px;
    box-shadow:0px 0px 7px 0px rgb(119 116 116 / 50%);
}
.gatnerBlock_elm-image img{
    object-fit:cover;
    max-width:100%;
    max-height: 100%;
    border-radius: 10px;
}
.gatnerBlock_elm1{
    padding: 8px 9px 0px;
}
.gatnerBlock_elm2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    row-gap: 32px;
    padding-top: 40px;
    align-items: center;
    padding: 13px;
}
.gatnerBlock_elm2-text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 44px;
    /* padding: 16px; */
}
.gatnerBlock_elm2-text-head{
    font-size: 24px;
    font-weight:600;
    font-family: 'semi_bold';
    line-height: 32px;
    letter-spacing: -0.89px;
    color: rgb(14, 23, 38);
}
.gatnerBlock_elm2-text-sent{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.54px;
    line-height: 28px;
    color: rgb(23, 37, 61);
}
.gatnerBlock_elm2-button{
    font-size: 15px;
    width: 100%;
    font-weight: 600;
    font-family: 'semi_bold';
    letter-spacing: -0.3px;
   
}
.gatnerBlock_elm2-button button{
    color: white;
    background: #0078d4;
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'semi_bold';
    letter-spacing: -0.3px;
    font-size: 15px;
    

}
/* ////////////////////////// */
.roleBlock{
    background-image:url('img/bacground/Mobile-Interactive-Demo-BG-2x.webp') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 40px;
    padding: 0px 16px;
}
.roleBlock_elm-image img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;

}
.roleBlock_elm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding-top: 48px;
}
.roleBlock_elm-head{
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: 0.96px;
    color: rgb(23, 37, 61)
    ;
}
.roleBlock_elm-head1{
    font-size: 28px;
    width: 100%;
    text-align: center;
}
.roleBlock_elm-head1 span{
    width: 100%;
}
.roleBlock_elm1{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding:8px 0px 8px 8px;
}
.roleBlock_elm1-button button{
    background:white;
    border: none;
    height: 52px;
    padding: 12px 16px 16px;
    font-size: 16px;
    width: 188px;
    text-align: start;
    box-shadow:1px 2px 5px 0px rgba(0, 0, 0, 0.5) ;

}
.roleBlock_elm2 .FeaturedBlock_elm1-forword{
    padding-top: 0px;
    font-size: 14;
}
.roleBlock_elm2{
    padding: 24px 0px 48px;
}
.roleBlock_elm2-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.roleBlock_elm2-sent{
    font-size: 20px;
    text-align:center;
}
.roleBlock_elm-image{
    padding: 16px;
    margin: 24px 0px 0px;
}
.roleBlock_elm-image img{
    border-radius: 10px;
}
/* //////////////////////////// */
.reagionBlok{
    background-image: url('img/bacground/Desktop-AzureRegions-2x.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.reagionBlok_elm-head{
    font-size: 32px;
    text-align: center;

}
.reagionBlok_elm-head span{
    color: white;


}
.reagionBlok_elm-head1{
    font-size:16px;
    text-align: center;
    margin: 16px 0px 0px;
    padding: 0px 16px;
}
.reagionBlok_elm-head1 span{
    color: white;
    line-height: 30px;
}
.reagionBlok_elm{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 56px 16px;

   
}
.reagionBlok_elm .productBlock_elm-button{
    margin-top: 30px;
}
/* //////////////////////// */
.storieBlock{
    background-image: url('img/bacground/customer\ story\ background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 48px 16px;
}
.storieBlock_elm-head{
    font-size: 12px;
    margin: 0px 0px 12px;
}
.storieBlock_elm{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.25rem;
    margin-left: -.25rem;
}
.storieBlock_elm-head1{
    font-size: 24px;
}
.storieBlock_elm1-image{
    padding: 8px;
    padding-bottom: 0px;
}
.storieBlock_elm1-image img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.storieBlock_elm1{
    background-color: white;
    border-radius: 10px;
    margin-top: 24px;
    width: 91vw;
}
.storieBlock_elm1-block{
    padding: 16px;
}
.storieBlock_elm1-blockSub-image img{
    border: 1px solid rgb(183, 175, 175);
    border-radius: 10px;
}
.storieBlock_elm1-blockSub{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.storieBlock_elm1-blockSub-sent{
    font-size: 20px;
}
.storieBlock_elm1-block{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.storieBlock_elm1-blockLink{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.storieBlock_elm1-blockLink-link{
    display: flex;
    gap: 0.5rem;
    font-size: 14px;
}
.storieBlock_elm1-blockLink-elm{
    display: flex;
    /* --block-slim-justify: flex-start; */
    /* --block-slim-flex-direction: row; */
    flex-wrap: wrap;

}

.storieBlock-flexBlock{
    display: flex;
    overflow: auto;
    flex-direction: row;
    gap: 20px;
    
}
.storieBlock-flexBlock::-webkit-scrollbar{
    display: none;
}
.arrow{
    display: flex;
    gap: 10px;

}
.arrow img{
    width: 30px;
    height: 30px;
}
.arrow-left{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 40px;
}
.arrow-right{
    padding: 10px;
    border: 2px solid;
    border-radius: 49px;
}
/* ///////////////////////////// */
.stepBlock{
    background-image: url('img/bacground/step.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 48px 0px;
}
.stepBlock_elm{
    font-size: 28px;
    text-align: center;
    font-weight: 600;

}
.stepBlock_elm1{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.stepBlock_elm1-child{
   background: white;
   border-radius: 20px;
   padding: 16px;
   line-height: 25px;
}
.stepBlock_elm1-child-box-head{
    font-size: 18px;
    font-weight: 600;
}
.stepBlock_elm1-child-box-sent{
    font-size: 16px;
    color: rgb(21, 20, 20);
}
.stepBlock_elm1-child-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* //////////////////////// */
.socialBlock{
    display: flex;
    flex-direction: column;
    padding: 24px 14px;
    padding-bottom: 50px;
   
}
.socialBlock_elm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    margin: 8px 0px;
    background: rgb(197, 192, 192);
    width: 227.58px;
    height: 53.25px;
}
.socialBlock_elm1{
    display: flex;
    gap: 15px;
    margin: 8px 0px;
    margin-left: 12px;

}
/* /////////////////////// */
.footerBlock{
    background: rgb(244, 242, 242);
    padding: 0px 12px;
}
.footerBlock_elm{
    padding: 0px 8px;
}
.footerBlock_elm-head{
    font-size: 15px;
    padding: 36px 0px 4px;
}
.footerBlock_elm-sent{
    font-size: 11px;
    color: grey;
}
.footerBlock_elm-list li{
    padding: 8px 0px;
    list-style: none;
}
/* //////////////////////////// //*/
.finalBlock{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: grey;
    padding: 30px 12px 16px;
}

.finalblock_elm{
    display: flex;
    align-items: center;
    gap: 10px;
}
.finalblock_elm-image img{
    width: 20px;
    height: 20px;
}
.finalblock_elm1{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 8px 0px 16px;
    padding: 4px 24px 0px 0px;
}
.finalblock_elm3 span{
    padding: 6px 10px 0px 0px;
    line-height: 15px;
}
.finalblock_elm1-svg svg{
    padding-right: 8px;
}